//Import Turret
@import '../turret/turret.less';

html,
body {
	min-height: 100%;
}

body {
	background: @dark;
}

.header {
	position: relative;
	height: 500px;
	background: @primary;
	//background: @black;
	
	h1 {
		font-size: 60px;
		line-height: 1;
	}
	
	.lead {
		margin: 0;
		line-height: 30px;
	}
	
	h4 {
		margin: 20px 0px;
	}
}

.header-inner {
	padding: 135px 0px;
	width: 100%;
	height: 500px;
	text-align: center;
}

.content {
	.clearfix();
}

.column {
	position: relative;
	float: left;
	padding: 0px 10px;
	padding-top: @column-1-5;
	width: @column-1-5;
	text-align: center;
	
	@media @extra-large {
		padding-top: @column-1-6;
		width: @column-1-6;
	}
	
	@media @medium {
		padding-top: @column-1-4;
		width: @column-1-4;
	}
	
	@media @small {
		padding-top: @column-1-2;
		width: @column-1-2;
	}
}

.column-inner {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	.translateY(-50%);
}

svg {
	width: 64px;
	height: 64px;
	
	path {
		fill: @primary;
	}
}

.title {
	display: block;
	margin: 20px 0px 10px;
	width: 100%;
	font-weight: 800;
}

code {
	margin: 0;
	font-size: 12px;
	color: @primary;
}

.footer {
	margin: 30px 0px;
}